# Compiled Object files
*.o

# Executables
*.out
dlinsolx
pdlinsolx
pddrive_ABglobal

# DDT Sessions
*.session

# IDE Stuff
*.project
*.cproject
*.settings

# CMake stuff
/CMakeFiles/
SuperLUbenchConfig.h.in
